.baiviet1__content {
     transition: all 0.5s;

     .heading__top__content {
          padding-bottom: 1.5%;
          border-bottom: 0.7px solid rgb(168, 181, 194);
          padding-top: 3%;
          max-width: 800px;

          .rate {
               p {
                    font-size: 15px;

                    .danhgia {
                         font-weight: bold;
                    }

                    .star {
                         color: #ccc624;
                    }
               }
          }

          .news__travel {
               p {
                    font-size: 15px;
               }

               .bold {
                    font-weight: bold;
               }

               .italic {
                    font-style: italic;
               }
          }

          .content {
               margin-top: 1rem;

               a {
                    img {
                         cursor: zoom-in;
                         margin-bottom: 1rem;
                    }
               }

               p {
                    margin-bottom: 1rem;
               }

               .author {
                    margin-top: 2rem;
                    text-align: right;

                    p {
                         &:first-child {
                              font-weight: bold;
                         }

                         &:nth-child(2) {
                              font-weight: 400;
                         }

                         margin-bottom: 0;

                         span {
                              font-style: italic;
                         }
                    }
               }

               .link {
                    margin-top: 2rem;
                    border-left: 1px solid black;
                    padding-left: 1.2rem;

                    ul {
                         margin-left: 1rem;

                         li {
                              a {
                                   font-weight: 600;
                              }
                         }
                    }
               }
          }
     }
}

@include responsive("large") {
     .baiviet1__content {
          .heading__top__content {
               padding-bottom: 1.5%;
               border-bottom: 0.7px solid rgb(168, 181, 194);
               padding-top: 3%;

               h4 {
                    font-size: 20px;
               }

               .rate {
                    p {
                         font-size: 13px;

                         .danhgia {
                              font-weight: bold;
                         }

                         .star {
                              color: #ccc624;
                         }
                    }
               }

               .news__travel {
                    p {
                         font-size: 13px;
                    }

                    .bold {
                         font-weight: bold;
                    }

                    .italic {
                         font-style: italic;
                    }
               }
          }
     }
}

@include responsive("small") {
     .baiviet1__content {
          .heading__top__content {
               padding-bottom: 1.5%;
               border-bottom: 0.7px solid rgb(168, 181, 194);
               padding-top: 3%;

               h4 {
                    font-size: 18px;
               }

               .rate {
                    p {
                         font-size: 12px;

                         .danhgia {
                              font-weight: bold;
                         }

                         .star {
                              color: #ccc624;
                         }
                    }
               }

               .news__travel {
                    p {
                         font-size: 12px;
                    }

                    .bold {
                         font-weight: bold;
                    }

                    .italic {
                         font-style: italic;
                    }
               }
          }
     }
}

@include responsive("small-max") {
     .baiviet1__content {
          .heading__top__content {
               padding-bottom: 1.5%;
               border-bottom: 0.7px solid rgb(168, 181, 194);
               padding-top: 3%;

               h4 {
                    font-size: 18px;
               }

               .rate {
                    p {
                         font-size: 12px;

                         .danhgia {
                              font-weight: bold;
                         }

                         .star {
                              color: #ccc624;
                         }
                    }
               }

               .news__travel {
                    p {
                         font-size: 11px;
                    }

                    .bold {
                         font-weight: bold;
                    }

                    .italic {
                         font-style: italic;
                    }
               }
          }
     }
}