.heading__top {
     transition:  all .5s;
     .heading__top__content {
          padding-bottom: 1.5%;
          border-bottom: .7px solid rgb(168 ,181, 194);
          padding-top: 3%;
          .rate {
               p {
                    font-size: 15px;
                    .danhgia {
                         font-weight: bold;
                    }

                    .star {
                         color: #ccc624;
                    }
               }
          }
          .news__travel{
               p{
                    font-size: 15px;
               }
               .bold{
                    font-weight: bold;
               }
               .italic{
                    font-style: italic;
               }
          }
     }
}

@include responsive("large"){
     .heading__top {
          .heading__top__content {
               padding-bottom: 1.5%;
               border-bottom: .7px solid rgb(168 ,181, 194);
               padding-top: 3%;
               h4{
                    font-size: 20px;
               }
               .rate {
                    p {
                         font-size: 13px;
                         .danhgia {
                              font-weight: bold;
                         }
     
                         .star {
                              color: #ccc624;
                         }
                    }
               }
               .news__travel{
                    p{
                         font-size: 13px;
                    }
                    .bold{
                         font-weight: bold;
                    }
                    .italic{
                         font-style: italic;
                    }
               }
          }
     }
}
@include responsive("small"){
     .heading__top {
          .heading__top__content {
               padding-bottom: 1.5%;
               border-bottom: .7px solid rgb(168 ,181, 194);
               padding-top: 3%;
               h4{
                    font-size: 18px;
               }
               .rate {
                    p {
                         font-size: 12px;
                         .danhgia {
                              font-weight: bold;
                         }
     
                         .star {
                              color: #ccc624;
                         }
                    }
               }
               .news__travel{
                    p{
                         font-size: 12px;
                    }
                    .bold{
                         font-weight: bold;
                    }
                    .italic{
                         font-style: italic;
                    }
               }
          }
     }
}
@include responsive("small-max"){
     .heading__top {
          .heading__top__content {
               padding-bottom: 1.5%;
               border-bottom: .7px solid rgb(168 ,181, 194);
               padding-top: 3%;
               h4{
                    font-size: 18px;
               }
               .rate {
                    p {
                         font-size: 12px;
                         .danhgia {
                              font-weight: bold;
                         }
     
                         .star {
                              color: #ccc624;
                         }
                    }
               }
               .news__travel{
                    p{
                         font-size: 11px;
                    }
                    .bold{
                         font-weight: bold;
                    }
                    .italic{
                         font-style: italic;
                    }
               }
          }
     }
}